@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root{
    --theme-bg-color:#ffffee;
    --theme-font:'Shadows Into Light', cursive;
    --theme-main-header-font:'Permanent Marker', cursive;
}
body{
    background-color: 	var(--theme-bg-color);
    color: 	#6b6b6b;
    font-family: var(--theme-font);
}
header{
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin-top: 12px;
    font-family: var(--theme-main-header-font);
}
input, input:focus{
    border: none;
    padding: 16px;
    background-color: var(--theme-bg-color); 
    font-family: var(--theme-font);
    font-size: 1.2em;
}
input[type='checkbox']{
    width: 20px;
    height: 20px ;
    border-radius: 4px;
    transition: all .5s ease;
    cursor: pointer;
}
.input-container{
    text-align: center;
    margin-top: 12px;
}
.singleElement{
    margin-top: 2em;
    margin-left: 33em;
}
li{
    list-style-type: none;
    cursor: move;
    width: 24em;
}
li:hover{
    border-radius: 2px;
    border-color: coral;
    border: 2px;
    border-style: solid;
}