:root{
    --theme-bg-color:#ffffee
}
body{
    background-color: 	var(--theme-bg-color);
    color: 	#6b6b6b;
}
header{
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin-top: 12px;
}
input, input:focus{
    border: none;
    padding: 12px;
    background-color: var(--theme-bg-color); 
}
.input-container{
    text-align: center;
    margin-top: 12px;
}
.singleElement{
    margin-top: 2em;
    margin-left: 33em;
}
li{
    list-style-type: none;
}